@model IEnumerable<ShoeListVm>
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Shoe List";
}
<div class="container">
    @Html.AntiForgeryToken()
    <div class="row mb-3">
        <div class="col-6">
            <h3>Shoe List de: @Model.ElementAt(0).Size</h3>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Size" asp-action="Index" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>
                Volver
            </a>
        </div>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>

                <th>Genre</th>
                <th>Colour</th>
                <th>Sport</th>
                <th>Model</th>
                <th>Description</th>
                <th>Price</th>

            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr id="@item.ShoeId">

                        <td>@item.Genre</td>
                        <td>@item.Colour</td>
                        <td>@item.Sport</td>
                        <td>@item.Model</td>
                        <td>@item.Description</td>
                        <td>@item.Price</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" class="text-center">No Shoes added yet!</td>
                </tr>
            }
        </tbody>
    </table>
    @*    <partial name="_Pager" model="@Model" /> *@


</div>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/js/common.js"></script>
}